
.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2001;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-box{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 600px;
  width: 811px;
  overflow-y: hidden;
  background-color: white;
  box-shadow:0 0 10px rgba(0,0,0,0.25);
  z-index: 2002;
  padding: 40px;
}
.modal-box:after{
  content: "";
  background: white;
  background-size: cover;
  opacity: 0.7;
  filter: blur(7px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;

  ;
}
.textBox{
  height: 200px;
  width: 311px;
  overflow-y: auto;
}
.closeModal{
  position: absolute;
  bottom: 0;
  right: 0px;
  background:#7b9c85 ;
  border-radius: 10px;
}


.customizedTitle{
   position: relative;
   top: -230px;
   margin-bottom: -230px;
  //  z-index:-1
}
// .customizedTitle::after {
//   content: "";
//   // background: url("https://images.pexels.com/photos/6373664/pexels-photo-6373664.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
//   background-size: cover;
//   opacity: 0.7;
//   filter: blur(7px);
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   position: absolute;
//   z-index: -1;
//   ;
// }

.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}


.tag-all{
  background: #8b8b7d;
  margin-top: 0;
  margin-bottom: 10px;
}

.tag-whitening {
  color: #f5c184;
  background: white;
  border: 1px solid black;
  margin: 0;

}

.tag-whitening:hover {
  background-color: #f5c184;
  color: ivory;
  border: 1px solid transparent;

}

.tag-whitening.active {
  background-color: #f5c184;
  color: ivory;
  border: 1px solid transparent;
}

.tag-slimming {
  color: #D05656;
  background: white;
  border: 1px solid black;

}

.tag-slimming:hover {
  background-color: #D05656;
  color: ivory;
  border: 1px solid transparent;

}

.tag-slimming.active {
  background-color: #D05656;
  color: ivory;
  border: 1px solid transparent;

}

.tag-silverHair {
  color: #BFBF70;
  background: white;
  border: 1px solid black;

}

.tag-silverHair:hover {
  background-color: #BFBF70;
  color: ivory;
  border: 1px solid transparent;

}

.tag-silverHair.active {
  background-color: #BFBF70;
  color: ivory;
  border: 1px solid transparent;

}

.tag-vision {
  color: #BEA1A1;
  background: white;
  border: 1px solid black;

}

.tag-vision:hover {
  background-color: #BEA1A1;
  color: ivory;
  border: 1px solid transparent;

}

.tag-vision.active {
  background-color: #BEA1A1;
  color: ivory;
  border: 1px solid transparent;
}
.progress{
  background: #f5c184;
}
.progress-bar{
  background: #E79737;
}
.carbon_water,.dietary_fiber,.vitamin_A,.vitamin_C,.Potassium{
  width: 10%;
}


.customizedProduct {
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  height: 700px;
  margin-bottom: 5px;
  padding: 0;
  overflow: auto;
  // border: 2px solid rgba(255, 255, 255, 0.6);
}
.title-all{
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8b8b7d;
}
.allButton{
  background: #B1B19D;
}
.title-whitening{
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5c184;
}
.whiteningButton{
  background: #f5c184;
}
.title-slimming{
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #D05656;
}
.slimmingButton{
  background: #D05656;
}
.title-silverHair{
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #BFBF70;
}
.silverHairButton{
  background: #BFBF70;
}
.title-vision{
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #BEA1A1;
}
.visionButton{
  background: #BEA1A1;
}


.smallImageBox {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;

}


// .progressgroup{
//   margin-top: 50px;
// }
.progress-bar {
  border-radius: 0 10px 10px 0;
}

.hideMenu {
  height: 38px;
  overflow: hidden;
}

.hideMenu.active {
  overflow: visible;
}

.fruitMenu {
  width: 96%;
  height: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(170, 167, 167);
  // background: url("https://images.pexels.com/photos/3082731/pexels-photo-3082731.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  border-radius: 10px;
  margin: 10px;
  transition: 1s;
}
.fruitMenu:hover{
  // background: url("http://localhost:3000/images/CustomizedPhotos/apple/fujiApple1.jpg");
  // background-size: contain;
  // transform: scale(0.9);
}


.fruitShadow {
  position: relative;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.1) inset;
}

.fruitShadow::before,
.fruitShadow::after {
  content: "";
  position: absolute;
  z-index: -1;
}

.fruitShadow::before,
.fruitShadow::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
}

.shadow::before,
.shadow::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  box-shadow: 0 15px 10px rgb(211, 104, 33);
  transform: rotate(-3deg);
}

.shadow::after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
}



.productItem {
  height: 100px;
  border: #bdbdbd solid 2px;
  margin: 0;
  opacity: 1;
  transition: .4s;
}

.productItem.active {
  height: 0px;
  overflow: hidden;
  border: 0;
  opacity: 0;
}
.imageLarge{
  transition: .4s;
}
.productItem:hover .imageLarge{
  transform: scale(1.2);
}
.addCart{
  margin: 0;
  border-radius: 50%;
  box-shadow:  4px 4px 9px #afafaf,
             -4px -4px 9px #ffffff;
}
.addCart:hover{
  box-shadow: inset 4px 4px 9px #afafaf,
            inset -4px -4px 9px #ffffff;
}
.addCart:hover .fa-plus{
  transform: scale(0.9)translateX(-1px)translateY(1px);
}
// .addCart{
//   margin: 0;
//   box-shadow:2px 2px 5px #000;
//   transition: .4s;
// }
// .addCart:hover{
//   box-shadow:inset 1px 1px 3px  #000
// }

.price{
  color: #E9AFAF;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .pageTitle {
    font-size: 18px;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .rwdfruitbox {
    position: absolute;
    right: -7%;
    top: -65px;
  }
  .smallImageBox {
    height: 50px;
    width: 50px;
    
  }
  .productName {
    font-size: 1.2rem !important;
  }
  .farmerName {
    font-size: 12px !important;
  }
  .rwdCart {
    height: 70px;
    background: #B1B19D;
  }
}

.cartLIstContainer {
  position: relative;
  max-height: 260px;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.7);
  // background: url("https://images.pexels.com/photos/2317922/pexels-photo-2317922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.middleAndRightAside {
  height: 100%;
  // background: url("https://images.pexels.com/photos/2317922/pexels-photo-2317922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  content: "";
  background-size: cover;
  opacity: 0.7;
  filter: blur(3px);
  top: 0;
  left: 1%;
  bottom: 0;
  right: -1%;
  position: absolute;
  z-index: -1;
  width:96%

  ;
}
.middleAndRightAside::after{
  content:"";
  background: white;
  background-size:cover;
  opacity: 0.5;
  top: 0;
  left: 1%;
  bottom: 0;
  right: -1%;
  position: absolute;
  z-index: -1;
  transition: 1s;
  // width:96%
}



.customerCartList{
  margin-top: 0px;
  margin-bottom: 0px;
  background: #eeceaa;
}
.unSelected {
  width: 100%;
}
.introduction{
  color: #A5A59E;
  text-align: center;
}

.cartList {
  height: 70px;
  margin: 0;
}

.cartListImage {
  display: flex;
  align-items: center;
  height: 60px;
  width: 60px;
}
.itemName{
  text-align: center;
  width: 100px;
}
.itemQuantity{
  width: 20px;
  display: inline-block;
  text-align: center;
}
.itemPrice{
  color: #000;
  width: 40px;
}
.deleteItem,.ItemMinus,.ItemPlus{
  cursor: pointer;
}


.totalPriceTable {
  background: rgba(255, 255, 255, 0.6);
}

.buy-btn {
  display: block;
  width: 150px;
  max-width: 100%;
  padding: 10px 5px;
  background-color: #FFA20D;
  color: #fff;
  border: 2px solid #838080;
  border-radius: 5px;
  font-size: 1.125em;
  -webkit-box-shadow: 2px 2px 3px rgba(59, 59, 59, 0.16);
  box-shadow: 2px 2px 3px rgba(59, 59, 59, 0.16);
  text-align: center;
  margin: 15px 5px 0px 0px;
  position: absolute;
  bottom: 0;
  left: 10%;
}

.buy-btn:hover {
  background-color: #FAB342;
  -webkit-box-shadow: 0px 1px 2px rgba(59, 59, 59, 0.16);
  box-shadow: 0px 1px 2px rgba(59, 59, 59, 0.16);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.sub {
  display: block;
  width: 150px;
  max-width: 100%;
  padding: 10px 5px;
  background-color: #A5A59E;
  color: #fff;
  border: 2px solid #838080;
  border-radius: 5px;
  font-size: 1.125em;
  -webkit-box-shadow: 2px 2px 3px rgba(59, 59, 59, 0.16);
  box-shadow: 2px 2px 3px rgba(59, 59, 59, 0.16);
  text-align: center;
  margin: 15px 5px 0px 0px;
  position: absolute;
  bottom: 0;
  right: 10%;
}

.sub-btn:hover {
  background-color: #BDBEB1;
  -webkit-box-shadow: 0px 1px 2px rgba(59, 59, 59, 0.16);
  box-shadow: 0px 1px 2px rgba(59, 59, 59, 0.16);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.cartLIstContainer p{
  color: black;
}
.cartLIstContainer i{
  color: black;
}
.cartLIstContainer span{
  color: black;
}

.removeFruit {
  background:#E9AFAF ;
  position: absolute;
  right: -70px;
  top: 0%;
  z-index: 10;
  transform: rotate(8deg);
}
.p-offset{
  padding-top: 3em;
}



.activeClass{
  color: #D05656;
}
.rightAsideMiddle{
  position: absolute;
  width: 100%;
  top: 53%;
}
.rowFruitImage{
  position: absolute;
 bottom: 20%;
 transition: .4s;
 animation-name: jump;
 animation-delay: 1s;
 animation-duration: 4s;
}

@keyframes jump{
  0%{
    transform: rotate(5deg) translateX(0px) translateY(0px);
  }
  8%{
    transform: rotate(5deg) translateX(20px) translateY(-50px);
  }
  16%{
    transform:rotate(5deg) translateX(40px) translateY(0px);
  }
  24%{
    transform:rotate(5deg) translateX(60px) translateY(-100px);
  }
  32%{
    transform:rotate(5deg) translateX(80px) translateY(0px);
  }
  40%{
    transform:rotate(5deg) translateX(100px) translateY(-150px);
  }
  48%{
    transform:rotate(5deg) translateX(150px) translateY(0px);
  }
  56%{
    transform:rotate(5deg) translateX(100px) translateY(-150px);
  }
  64%{
    transform:rotate(5deg) translateX(80px) translateY(0px);
  }
  72%{
    transform:rotate(5deg) translateX(60px) translateY(-100px);
  }
  80%{
    transform:rotate(5deg) translateX(40px) translateY(0px);
  }
  88%{
    transform:rotate(5deg) translateX(20px) translateY(-50px);
  }
  100%{
    transform:rotate(5deg) translateX(0) translateY(0);
  }
}


// scrollBar樣式
//捲軸底色
.customizedProduct::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

  background-color: #f0f5f0;
}
//捲軸寬度
.customizedProduct::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}
//捲軸本體顏色
.customizedProduct::-webkit-scrollbar-thumb {
  background-color: #66816e;
}

// scrollBar樣式
//捲軸底色
.cartLIstContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

  background-color: #f0f5f0;
}
//捲軸寬度
.cartLIstContainer::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}
//捲軸本體顏色
.cartLIstContainer::-webkit-scrollbar-thumb {
  background-color: #66816e;
}

.middleAndRightAside{}