.settingesPP{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.settingesPP > img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.settingsPPIcon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #66816e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
    font-size: 45px;
}
.DSnormal-btn {
		display: block;
		width: 150px;
		max-width: 100%;
		padding: 20px 10px;
		background-color: #fcfdf5;
		color: #e79737;
		border: 2px solid #838080;
		border-radius: 5px;
		font-size: 1.125em;
		box-shadow: 2px 2px 3px rgba(59, 59, 59, 0.16);
		text-align: center;
		margin: auto;
	}
	.DSnormal-btn:hover {
		display: block;
		width: 150px;
		max-width: 100%;
		padding: 20px 10px;
		background-color: #fcfdea;
		color: #e79737;
		border: 2px solid #838080;
		border-radius: 5px;
		font-size: 1.125em;
		box-shadow: 0px 1px 2px rgba(59, 59, 59, 0.16);
		text-align: center;
		margin: auto;
		transition: transform 0.2s;
	}
