@media screen and (max-width: 576px) {
  .fruit_ball {
    display: none;
  }
  .map {
    width: 100%;
    height: 100%;
    margin-left: 10px;
  }
  .farmer {
    display: none;
  }
}
.fruit_ball {
  background: #b4d1be;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.fruit_ball img {
  max-width: 100%;
  max-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.fruit_ball:hover {
  background: rgb(238, 178, 144);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transform: scale(1.2);
  transition-duration: 0.5s;
}
.farmer {
  display: flex;
  background: #fafcec;
  width: 500px;
  height: auto;
  border-radius: 5px;
}
.avatar {
  background: rgb(238, 178, 144, 0.5);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
// .knowfarmbtn {
//   display: block;
//   width: 150px;
//   /* height: 40px; */
//   max-width: 100%;
//   padding: 20px 10px;
//   background: #fcfdf5;
//   font-size: 1.125em;
//   color: #e79737;
//   border: none;
//   margin: 10px;
//   padding: 8px 16px;
//   border: 2px solid #838080;
//   border-radius: 5px;
//   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
// }
// .knowfarmbtn:hover {
//   display: block;
//   width: 150px;
//   // height: 40px;
//   background-color: #fcfdea;
//   color: #e79737;
//   border: 2px solid #838080;
//   border-radius: 5px;
//   margin: 10px;
//   padding: 8px 16px;
// }

// @media screen and (max-width: 992px) {
//   .navbar ul {
//     display: none;
//   }
// }
.map {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 10px;
}

// scrollBar樣式
//捲軸底色
#style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

  background-color: #f0f5f0;
}
//捲軸寬度
#style-3::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}
//捲軸本體顏色
#style-3::-webkit-scrollbar-thumb {
  background-color: #66816e;
}

// 點擊icon效果
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(
    circle,
    rgb(255, 255, 255) 10%,
    transparent 15.01%
  );
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 0);
  opacity: 0;
  transition: transform 1s, opacity 0.8s;
}

.ripple:active:after {
  transform: scale(10, 10);
  opacity: 0.7;
  transition: 0s;
}
